{% extends 'base.html.twig' %}

{% block title %}Toutes les tâches{% endblock %}

{% block body %}


<h3>Toutes les tâches </h3>
<br>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Tâche</th>
      <th scope="col">Priorité</th>
      <th scope="col">A faire pour:</th>
      <th scope="col">Mettre à jour</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>


{% for task in tasks %}

  {% if task.status %}
  <tbody>
    <tr class="table-active">
      <th scope="row"><del>{{task.title}} </del></th>
      <td><a  class="btn btn-info">{{task.priority}}</a></td>
      <td><a  class="btn btn-info">{{task.TaskDate | date('d/m/Y')}}</a></td>
      <td><a href = "{{path('editTask',{id:task.id})}}" class="btn btn-success">Mettre à jour</a></td>
      <td><a  onclick= "return confirm('Vous êtes sûr de vouloir supprimer la tâche?')" href = "{{path('deleteTask',{id:task.id})}}" class="btn btn-danger">Supprimer</a>  </p></td>
    </tr>
    </tbody>
{% else %}
     <tbody>
    <tr class="table-active">
      <th scope="row">{{task.title}}</th>
      <td><a  class="btn btn-info">{{task.priority}}</a></td>
      <td><a  class="btn btn-info">{{task.TaskDate | date('d/m/Y')}}</a></td>
      <td><a href = "{{path('editTask',{id:task.id})}}" class="btn btn-success">Mettre à jour</a></td>
      <td><a  onclick= "return confirm('Vous êtes sûr de vouloir supprimer la tâche?')" href = "{{path('deleteTask',{id:task.id})}}" class="btn btn-danger">Supprimer</a>  </p></td>
    </tr>
</tbody>
{% endif %}
{% endfor %}

</table>

{% endblock %}
